.statistics {
  padding: 20px auto;
}
.statistics > h2 {
  text-align: center;
  color: rgb(107, 105, 105);
}
.statList {
  max-width: max-content;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(160, 74, 74);
  width: 80px;
  height: 80px;
}

.percentage,
.label {
  color: azure;
  font-weight: 500;
}

.percentage {
  font-size: 25px;
}
